<section class="insta-feed section-bg">
	
	{% include 'svg-wave' %}

	<div class="container">
		<h2 class="h1">Shop Our <br/>Instagram</h2>
	</div>
	
	<div class="insta-feed__wrap">
		<script src="//foursixty.com/media/scripts/fs.embed.v2.5.js" data-defer-image-loading="false" data-feed-id="suckerpunch-gourmet" data-theme="showcase_v2_5" data-open-links-in-same-page="true" data-page-size="12"></script>
	</div>
	
	<div class="container foot">
		<a href="https://www.instagram.com/suckerpunchgourmet/" target="_blank" class="btn">Follow Us</a>
	</div>
	
</section>