<div class="svg-icon svg-icon--long-arrow">
	<div class="positioner">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 110 22"><path fill="none" stroke="#fff" stroke-miterlimit="20" stroke-width="2" d="M109.842 10.873h-107M11.643 20.65v0L2 11.006v0l9.643-9.644v0"/></svg>
	</div>
</div>
