<div class="svg-icon">
	<div class="positioner">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 16"><path fill="#2e642c" d="M5.901 10.667h9.636a.532.532 0 00.512-.387l2.134-7.467a.533.533 0 00-.513-.68h-13L4.289.418A.533.533 0 003.768 0H.532a.533.533 0 100 1.067H3.34l1.926 8.666c-.567.247-.965.81-.965 1.467 0 .882.718 1.6 1.6 1.6h9.636a.533.533 0 100-1.067H5.9a.534.534 0 010-1.066zM5.368 14.4c0 .882.718 1.6 1.6 1.6.883 0 1.6-.718 1.6-1.6 0-.882-.717-1.6-1.6-1.6-.882 0-1.6.718-1.6 1.6zM12.87 14.4c0 .882.718 1.6 1.6 1.6.882 0 1.6-.718 1.6-1.6 0-.882-.718-1.6-1.6-1.6-.882 0-1.6.718-1.6 1.6z"/></svg>
	</div>
</div>