<div class="svg-icon">
	<div class="positioner">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 15"><path fill="#fff" d="M12.056 4.307a1.287 1.287 0 01-1.285-1.285 1.286 1.286 0 012.57 0c0 .708-.576 1.285-1.285 1.285zM7.773 11.16a3.86 3.86 0 01-3.856-3.855A3.86 3.86 0 017.773 3.45a3.86 3.86 0 013.855 3.855 3.86 3.86 0 01-3.855 3.855zM12.913.023H2.575C1.395.023.434.984.434 2.165v10.338c0 1.18.96 2.141 2.141 2.141h10.338c1.18 0 2.141-.96 2.141-2.141V2.165c0-1.18-.96-2.142-2.141-2.142z"/><path fill="#fff" d="M12.056 2.594a.429.429 0 100 .857.429.429 0 000-.857zM7.773 4.307a3.002 3.002 0 00-2.999 2.998 3.002 3.002 0 002.999 2.999 3.002 3.002 0 002.998-2.999 3.002 3.002 0 00-2.998-2.998z"/></svg>
	</div>
</div>