<div class="svg-icon">
	<div class="positioner">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 12"><path fill="none" stroke="#2e642c" stroke-miterlimit="20" d="M0 1h16M0 11h16M0 6h11"/></svg>
	</div>
</div>