<div class="svg-icon">
    <div class="positioner">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 16"><path fill="#858584" d="M4.961 5.241V3.863c0-.207.01-.367.029-.48a.934.934 0 01.131-.336.536.536 0 01.332-.229c.15-.04.354-.061.605-.061h1.379V-.001H5.234c-1.276 0-2.192.303-2.748.907-.557.606-.835 1.498-.835 2.675v1.66H0V8h1.65v8h3.311V8h2.205l.291-2.758z"/></svg>
    </div>
</div>