<div class="svg-icon svg-icon--quote">
	<div class="positioner">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.828 29.68"><path data-name="Path 19923" d="M8.374 29.68c4.664 0 7.95-3.286 7.95-7.314a7.221 7.221 0 00-7.42-7.314 3.414 3.414 0 00-2.12.53c.742-4.134 2.968-7.42 7.526-12.084l-3.286-3.5C3.816 5.618 0 14.522 0 20.882c0 5.088 3.392 8.798 8.374 8.798zm19.5-.106c4.558 0 7.95-3.18 7.95-7.208a7.245 7.245 0 00-7.526-7.314 3 3 0 00-2.12.53c.848-4.24 2.968-7.526 7.526-12.084l-3.286-3.5c-7.202 5.62-10.914 14.524-10.914 20.884 0 4.982 3.286 8.692 8.374 8.692z" fill="#fff"/></svg>
	</div>
</div>