<div class="svg-icon">
	<div class="positioner">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 16"><path fill="#fff" d="M19.408 2.165c-.7.307-1.445.51-2.222.61A3.836 3.836 0 0018.883.642a7.71 7.71 0 01-2.446.934 3.856 3.856 0 00-6.673 2.638c0 .306.025.6.089.88a10.92 10.92 0 01-7.951-4.035 3.884 3.884 0 00-.528 1.95c0 1.336.688 2.52 1.713 3.206a3.81 3.81 0 01-1.743-.476v.043a3.875 3.875 0 003.09 3.79 3.85 3.85 0 01-1.01.127 3.41 3.41 0 01-.73-.066 3.893 3.893 0 003.604 2.688 7.751 7.751 0 01-4.783 1.645c-.317 0-.62-.014-.924-.053a10.86 10.86 0 005.918 1.731c7.1 0 10.98-5.88 10.98-10.977 0-.17-.006-.335-.014-.499a7.696 7.696 0 001.933-2.003z"/></svg>
	</div>
</div>