<footer>
	<div class="container container--xl">
	
		<div class="footer__top">
			
			<div class="footer-col footer-col--first">
				
				<a href="/" class="logo">{% include 'svg-logo-white' %}</a>

				<ul class="social-share">
					<li><a classs="social-circle" target="_blank" href="https://www.instagram.com/suckerpunchgourmet/">{% include 'svg-instagram' %}</a></li>
					<li><a classs="social-circle" target="_blank" href="https://www.facebook.com/SPGourmet/">{% include 'svg-facebook' %}</a></li>
					<li><a classs="social-circle" target="_blank" href="https://twitter.com/suckerpunchpic">{% include 'svg-twitter' %}</a></li>
				</ul>
				
			</div>
			
			<div class="footer-col footer-col--nav">
				<nav>
					{% include 'menu-list', menu: 'footer_menu' %}
				</nav>
			</div>
			
			<div class="footer-col footer-col--newsletter">
				<div class="content-wrap">
					<h2>Sign up for our newsletter</h2>
					{% include 'newsletter-form' %}
				</div>
			</div>
			
		</div>	
	
		<div class="footer__bottom">
			<p class="copy">&copy; {{ 'now' | date: '%Y' }} suckerpunchgourmet.com | All rights reserved.</p>
			{% include 'menu-list', menu: 'footer_legal' %}
		</div>
		
	</div>
</footer>
