<header>

	<a href="/" class="logo">
		{% include 'svg-logo' %}
	</a>
	
	<nav class="global">
		{% include 'header-menu-list', menu: section.settings.menu %}
	</nav>
	
	<ul class="utils">
		<li class="desk-only"><a href="/account">Login</a></li>
<!--		<li class="desk-only"><button>{% include 'svg-search' %}</button></li>-->
		<li class="mob-only">
			<button>{% include 'svg-menu' %}</button>
		</li>
		<li>
			<a href="/cart" class="cart">{% include 'svg-cart' %}</a>
		</li>
	</ul>
	
	
</header>



{% schema %}
{
  "name": "Header",
  "settings": [
	{
	  "type": "link_list",
	  "id": "menu",
	  "label": "Select a Menu"
	}
  ]
}
{% endschema %}