<section class="difference section-bg">
	
	<div class="container">
		<div class="difference__intro">
			<span class="preheading">{{ section.settings.preheading }}</span>
			<h2>{{ section.settings.heading }}</h2>
		</div>
	</div>
	
	<div class="difference__parallax">
		<div class="difference__ingredients">
			<div class="main-prod">
				<img data-src-delay="2000"  data-parallax='{"y": 75}' data-src="{{ section.settings.image | img_url: 'master' }}" alt="Suckerpunch Gourmet">
			</div>
			<div class="parallax-ingredients">
				<div class="spacer">
				
					<img class="floater floater--1"  data-parallax='{"x" : 3, "y": -350, "rotateZ": -65}' data-src-delay="3000" data-src="https://cdn.shopify.com/s/files/1/0250/3395/files/shutterstock_1232778403_2x_e9ab1aab-882e-4623-9496-eda8f4070a4e.png?v=1611894622" alt="">
					<img class="floater floater--2"  data-parallax='{"x" : -8, "y": -375, "rotateZ": -45}' data-src-delay="3000" data-src="https://cdn.shopify.com/s/files/1/0250/3395/files/shutterstock_1232778403_2x_1.png?v=1611894622" alt="">
					<img class="floater floater--3"  data-parallax='{"x" : -10, "y": -375, "rotateZ": -60}' data-src-delay="3000" data-src="https://cdn.shopify.com/s/files/1/0250/3395/files/shutterstock_1232778403_2x_2.png?v=1611894622" alt="">
					<img class="floater floater--4"  data-parallax='{"x" : 7, "y": -450, "rotateZ": -75}' data-src-delay="3000" data-src="https://cdn.shopify.com/s/files/1/0250/3395/files/shutterstock_1232778403_2x_3.png?v=1611894621" alt="">
					
					
					<img class="floater floater--5"  data-parallax='{"x" : 3, "y": -350, "rotateZ": -65}' data-src-delay="3000" data-src="https://cdn.shopify.com/s/files/1/0250/3395/files/Mask_Group_125.png?v=1612990576" alt="">
					<img class="floater floater--6"  data-parallax='{"x" : -8, "y": -375, "rotateZ": -45}' data-src-delay="3000" data-src="https://cdn.shopify.com/s/files/1/0250/3395/files/Mask_Group_23_2x_735dda18-39f9-43dd-ae0c-2f7c29a37403.png?v=1612569827" alt="">
					<img class="floater floater--7"  data-parallax='{"x" : -10, "y": -375, "rotateZ": -60}' data-src-delay="3000" data-src="https://cdn.shopify.com/s/files/1/0250/3395/files/Mask_Group_118.png?v=1612990576" alt="">
					<img class="floater floater--8"  data-parallax='{"x" : 7, "y": -450, "rotateZ": -75}' data-src-delay="3000" data-src="https://cdn.shopify.com/s/files/1/0250/3395/files/Mask_Group_118.png?v=1612990576" alt="">
					
					
					<img class="floater floater--9"  data-parallax='{"x" : 3, "y": -350, "rotateZ": -65}' data-src-delay="3000" data-src="https://cdn.shopify.com/s/files/1/0250/3395/files/Mask_Group_115.png?v=1612990576" alt="">
					<img class="floater floater--10"  data-parallax='{"x" : -8, "y": -375, "rotateZ": -45}' data-src-delay="3000" data-src="https://cdn.shopify.com/s/files/1/0250/3395/files/Mask_Group_115.png?v=1612990576" alt="">
					<img class="floater floater--11"  data-parallax='{"x" : -10, "y": -375, "rotateZ": -60}' data-src-delay="3000" data-src="https://cdn.shopify.com/s/files/1/0250/3395/files/Mask_Group_115.png?v=1612990576" alt="">
					<img class="floater floater--12"  data-parallax='{"x" : 7, "y": -450, "rotateZ": -75}' data-src-delay="3000" data-src="https://cdn.shopify.com/s/files/1/0250/3395/files/Mask_Group_115.png?v=1612990576" alt="">
					
					<img class="floater floater--13"  data-parallax='{"x" : 3, "y": -350, "rotateZ": -65}' data-src-delay="3000" data-src="https://cdn.shopify.com/s/files/1/0250/3395/files/Mask_Group_140.png?v=1612990576" alt="">
					<img class="floater floater--14"  data-parallax='{"x" : -8, "y": -375, "rotateZ": -45}' data-src-delay="3000" data-src="https://cdn.shopify.com/s/files/1/0250/3395/files/Mask_Group_140.png?v=1612990576" alt="">
					<img class="floater floater--15"  data-parallax='{"x" : -10, "y": -375, "rotateZ": -60}' data-src-delay="3000" data-src="https://cdn.shopify.com/s/files/1/0250/3395/files/Mask_Group_140.png?v=1612990576" alt="">
					<img class="floater floater--16"  data-parallax='{"x" : 7, "y": -450, "rotateZ": -75}' data-src-delay="3000" data-src="https://cdn.shopify.com/s/files/1/0250/3395/files/Mask_Group_141.png?v=1612990576" alt="">
					
					<img class="floater floater--17"  data-parallax='{"x" : 3, "y": -350, "rotateZ": -65}' data-src-delay="3000" data-src="https://cdn.shopify.com/s/files/1/0250/3395/files/Mask_Group_141.png?v=1612990576" alt="">
					<img class="floater floater--18"  data-parallax='{"x" : -8, "y": -375, "rotateZ": -45}' data-src-delay="3000" data-src="https://cdn.shopify.com/s/files/1/0250/3395/files/Mask_Group_137.png?v=1612990576" alt="">
<!--					<img class="floater floater--19"  data-parallax='{"x" : -10, "y": -375, "rotateZ": -60}' data-src-delay="3000" data-src="" alt="">-->
<!--					<img class="floater floater--20"  data-parallax='{"x" : 7, "y": -450, "rotateZ": -75}' data-src-delay="3000" data-src="" alt="">-->
					
				</div>
			</div>
		</div>
	</div>
	
	<span class="h2 backdrop" data-parallax='{"y": -200}'>{{ section.settings.bigheading }}</span>
	
	{% include 'svg-wave' %}
	
</section>


{% schema %}
{
  "name": "Difference",
  "class": "difference-block",
  "settings": [
    {
      "type": "text",
      "id": "preheading",
      "label": "Preheading"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "bigheading",
      "label": "Big Heading"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Main Product"
    }
  ],
  "presets": [
    {
      "name": "Homepage Difference",
      "category": "Image / Content"
    }
  ]
}
{% endschema %}